.hidden {
  display: none;
}

.img {
  height: 40%;
  width: 40%;
  vertical-align: middle;
}

.intro {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 3%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  color: whitesmoke
}

.pizzaSize {
  text-align: center;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
}

.pizzaToppings {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 15px;
  color: whitesmoke;
}

.button {
  margin-top: 2%;
  color: rgb(255, 255, 255);
  background-color: rgb(154, 103, 103);
  border: rgb(105, 18, 8);
  border-width: 5px;
  border-radius: 50%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  font-size: 23px;
}

.header2 {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke
}

body {
  background-image: url('/img/brick\ background.jpg');
  text-align: center;

}